.answer {
	border: none;
	background-color: $color--black-light;

	&:hover,
	&:focus {
		background-color: $color--black-lighter;
	}

	&--is-correct {
		background-color: $color--success !important;
	}

	&--is-incorrect {
		background-color: $color--danger !important;
	}
}
