.answer {
	border: none;
	background-color: $color--black-light;
	cursor: pointer;
	color: $color--white;
	padding: 2rem;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 600;

	&:hover,
	&:focus {
		background-color: $color--black-lighter;
	}

	&--is-correct {
		background-color: $color--success !important;
	}

	&--is-incorrect {
		background-color: $color--danger !important;
	}

	@media screen and (max-width: 600px) {
		font-size: 0.9rem;
		padding: 1rem;
	}
}
