.results {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	align-items: center;
	justify-content: center;

	.headline {
		margin-bottom: 2rem;
	}

	.markdown {
		margin-top: 2rem !important;
	}

	&__link {
		font-size: 1.1rem;
		text-decoration: underline;
	}
}

.results-overview {
	width: 100%;
	padding-top: 2rem;

	&__list {
		list-style-type: none;
		margin: 0;

		&-item {
			margin: 0 0 0 1rem;
			border-top: 2px solid $color--white-darker;
			padding: 1rem;
			display: flex;
			gap: 2rem;
			align-items: center;

			@media screen and (max-width: 600px) {
				margin: 0;
			}

			details {
				flex: 1;

				summary {
					display: flex;
					width: 100%;
					justify-content: space-between;
					align-items: center;
					cursor: pointer;
					gap: 1rem;

					&::marker,
					&::-webkit-details-marker {
						content: '';
						font-size: 0px;
						display: none;
					}

					h2 {
						margin: 0;

						@media screen and (max-width: 600px) {
							font-size: 1.2rem;
						}
					}
				}

				p {
					font-size: 1.2rem;
					margin-top: 1rem;
					margin-bottom: 0;

					@media screen and (max-width: 600px) {
						font-size: 1rem;
					}
				}

				&[open] {
					.results-overview__list-marker {
						transform: rotate(180deg);
					}
				}
			}
		}

		&-icon {
			font-size: 2.6rem;

			@media screen and (max-width: 600px) {
				font-size: 1.6rem;
			}
		}

		&-marker {
			font-size: 1.4rem;
		}
	}
}
